main {
  background-image: url(books.jpg);
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center;
}

main p {
  font-size: 1.2em;
  padding: 2em;
  color: var(--text-color);
}

section {
  background-color: var(--background-color);
  width: 75%;
}