main {
  background-image: url(books.jpg);
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center;
}

main p {
  font-size: 1.2em;
  padding: 2em;
  color: black;
}

section {
  background-color: rgb(235, 236, 210);
  width: 75%;
}