
main {
    justify-content: normal;
}

h2 {
    font-family: "Eagle Lake";
    text-decoration: underline;
    padding: 1em;
}

ul li {
    display: grid;
    list-style: none;
    padding: 0.3em;
    grid-template-columns: 150px 1fr;
    align-items: start; 
    margin-bottom: 1em;
}

textarea { width: 100%; 
    padding: 0.4em; 
    box-sizing: border-box;
    border-color: var(--main-color);
    color:var(--main-color);
}

input::placeholder {
    color: rgb(184, 185, 156);
}

input {
    border-color: var(--main-color);
    color: var(--main-color);
}

ol li {
    padding: 0.3em;
}

h3 {
    text-align: center;
    font-family: "Eagle Lake";
    padding-top: 0.5em;
}

#addOptionBtn {
    text-align: center;
}

#btnRow {
    display: flex;
    justify-content: center;
    gap: 1em;
}