
main {
    justify-content: normal;
}

h2 {
    font-family: "Eagle Lake";
    text-decoration: underline;
    padding: 2em;
}

ul li {
    list-style: none;
    padding: 0.3em;
    /* width: 10em; */
}

ol li {
    padding: 0.3em;
}

/* textarea {
    align-self: end;
} */

h3 {
    /* position: center; */
    font-family: "Eagle Lake";
    padding-top: 0.5em;
}