
main {
    justify-content: normal;
}

h2 {
    font-family: "Eagle Lake";
    text-decoration: underline;
    padding: 2em;
}

.my-custom-btn { 
    background-color: rgb(39, 19, 57); 
    color: rgb(235, 236, 210); 
}

.my-custom-btn:hover { 
    background-color: rgb(137, 139, 90); 
    color: rgb(235, 236, 210); 
}