:root { 
  --main-color: rgb(39, 19, 57); 
  --accent-color: rgb(135, 137, 81); 
  --background-color: rgb(235, 236, 210); 
  --text-color: rgb(39, 19, 57); 
}

body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
  color: var(--main-color);
}

header {
  flex: 0 80px;
  background-color: var(--main-color);
}

main {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--background-color);
}

menu {
  flex: 1;
  display: flex;
  /*  overwrite Bootstrap so the menu does not wrap */
  flex-direction: row !important;
  list-style: none;
  justify-content: center;
}

h1 {
  padding-top: 0.5em;
  text-align: center;
  color: var(--background-color);
  font-family: "Eagle Lake", serif;
}

menu li {
  padding: 0 1em;
  text-decoration: none;
  color: var(--background-color);
}

menu a {
  text-decoration: none;
  color: var(--background-color);
}

menu a:hover {
  text-decoration: underline;
}

footer {
  flex: 0 30px;
  background-color: var(--main-color);
  color: var(--background-color);
  padding: 0.5em;
}

footer span {
  float: left;
}

footer a {
  float: right;
  text-decoration: none;
  color: var(--background-color);;
}

@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
}

.my-custom-btn { 
    background-color: var(--main-color); 
    color: var(--background-color); 
}

.my-custom-btn:hover { 
    background-color: rgb(137, 139, 90); 
    color: var(--background-color); 
}
