body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
}

header {
  flex: 0 80px;
  justify-content: space-around;
}

main {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(235, 236, 210);
}

footer {
  flex: 0 30px;
}

footer span {
  float:left
}

menu {
  flex: 1;
  display: flex;
  /*  overwrite Bootstrap so the menu does not wrap */
  flex-direction: row !important;
  list-style: none;
  padding: 0.5em;
  justify-content: center;
}

h1 {
  padding-left: 0.5em;
  padding-top: 0.5em;
  text-align: center;
}

menu li {
  padding: 0 1em;
  text-decoration: none;
  color: black;
}

menu a {
  text-decoration: none;
  color: black;
}

menu a:hover {
  text-decoration: underline;
}

footer a {
  float: right;
}

@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
}
