
h2{
    padding-top: 1em;
}

#btnRow {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#voteView ul li {
    display: grid;
    list-style: none;
    padding: 0.5em;
    grid-template-columns: 200px 1fr auto;
    align-items: center; 
    border: 2px ridge white;
    transition: 0.2s;
    border-radius: 8px;
    /* background-color: var(--main-color); */
}

#resultsView, #voteView {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px; 
     margin: 0 auto;
}

#resultsView ul li {
    display: grid;
    list-style: none;
    grid-template-columns: 200px 1fr auto;
    align-items: center; 
    transition: 0.2s;
    gap: 0.5em;
}

#resultsView ul li label {
    border: 2px ridge white;
    border-radius: 8px;
    padding: 0.5em;
}

#resultsView meter {
  width: 150px;
  height: 2em;
}

meter::-webkit-meter-bar {
  background: var(--background-color);
}

meter::-webkit-meter-optimum-value {
  background: var(--main-color);
}

meter::-moz-meter-bar {
  background: var(--main-color);
}


