
h2{
    padding-top: 1em;
}

#btnRow {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

ul li {
    display: grid;
    list-style: none;
    padding: 0.5em;
    grid-template-columns: 150px 1fr;
    align-items: start; 
    border: 2px solid white;
    transition: 0.2s;
    border-radius: 8px;
    /* background-color: rgb(39, 19, 57); */
}
