
.login-page h1 {
    color: var(--main-color);
}

.login-page form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: thick groove var(--main-color);
    padding: 1em;
    padding-top: 2em;
    margin-top: 3em;
}

.login-page {
    justify-content: center;
}